.section {
    margin: auto;
    min-width: 100%;
}

.timeline-content {
    min-height: 200px;
    min-width: 90%;
    padding: 24px;
    margin: 0 20px 40px 20px;
    background: var(--card-background); 
    border-radius: 12px;
    box-shadow: 0 4px 20px var(--card-shadow); 
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Added background transition */
    border: var(--card-border); 
}

.timeline-content .details {
    display: flex;
    flex-direction: column;
}

.timeline-content h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: var(--primary-color); 
    font-weight: 600;
    line-height: 1.4;
}

.timeline-content p {
    margin: 0;
    color: var(--text-secondary-color); 
    font-size: 1.2rem;
    font-family: var(--font-system);
    line-height: 1.6;
}


.timeline-header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.timeline-icon{
    width: 34px;
    height: 34px;
    background: var(--icon-cards); 
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px var(--icon-shadow); 
    transition: transform 0.2s ease, background 0.3s ease;
}


.timeline-icon img {
    width: 28px;
    height: 28px;
    /* filter: var(--icon-filter);*/ /* if you want to apply a filter only for monotone icons*/
}

.date {
    background: var(--date-background); 
    color: var(--date-color); 
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    width: fit-content;
    box-shadow: 0 2px 4px var(--date-shadow); 
    margin-bottom: 10px;
    transition: background 0.3s ease, color 0.3s ease;
}

.external-link-wrapper {
    margin-top: 15px;
  }
.external-link {
    font-size: 1.2em;
    color: var(--secondary-color);
  }

.timeline-content .timeline-title{
    margin: 0;
}

.timeline-title.with-icon {
    margin: 0;
}

.timeline-title.without-icon {
    margin: 0;
    margin-bottom: 15px;
}

@media (max-width: 900px) {
    .section {
        padding: 0;
    }

    .timeline-content h3 {
        font-size: 1.3rem;
    }
    .date {
        font-size: 14px;
        padding: 4px 10px;
    }
    .timeline-content {
        padding: 20px;
        min-width: 0;
        margin: 0 11.5px 20px 11.5px;
    }
}